{% extends 'base.html.twig' %}

{% block title %}LeMeilleurCoin - Symfony Projet{% endblock %}

{% block body %}
    <main class="block_main">
    <h2 class="title mb-5">DEPOSER ICI VOS ANNONCES</h2>
    {% form_theme formAd 'bootstrap_4_horizontal_layout.html.twig' %}

    {% if app.user %}
        <div class="container w-75">
            {{form(formAd)}}
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Seul les utilisateurs <a href="/login">connectés</a> peuvent poster une annonces sur notre site.
        </div>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endfor %}
    </main>
{% endblock %}

{% block javascripts %}{% endblock %}


