{% extends 'base.html.twig' %}

{% block title %}LeMeilleurCoin - Symfony Projet{% endblock %}

{% block body %}
    <h2 class="title mb-5">DEPOSER ICI VOS ANNONCES</h2>
    {% form_theme formAd 'bootstrap_4_horizontal_layout.html.twig' %}

    <div class="container w-75">
        {{form(formAd)}}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}


