{% extends 'base.html.twig' %}

{% block title %}LeMeilleurCoin - Symfony Projet{% endblock %}

{% block body %}
    <main class="block_main">
    <h2>RECHERCHER</h2>
        {% form_theme formSearch 'bootstrap_4_layout.html.twig' %}
        <div class="container w-75">
            {{form(formSearch)}}
        </div>
        
    </main>
{% endblock %}

{% block javascripts %}{% endblock %}


