{% extends 'base.html.twig' %}

{% block title %}LeMeilleurCoin - Symfony Projet{% endblock %}

{% block body %}
        <main class="block_main">
        <h2 class="mb-5">CONNEXION</h2>

        {% form_theme formUser 'bootstrap_4_horizontal_layout.html.twig' %}
            <div class="container w-50">
                {{form(formUser)}}
            </div>

        {% for label,messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{label}} w-50" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endfor %}
        
        </main>
{% endblock %}

{% block javascripts %}{% endblock %}


